*{
    margin-left: 0;
    margin-right: 0;
    font-family: sans-serif;
    font-weight: 100;
}

/* header */
.header{
    /* width: 100%; */
    /* position: relative; */
    padding: 0.5rem;
    display: flex;
    line-height: 1rem;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #f8f8f8; */
}
.logo{
    color:#59AB6E; 
    font-size: 1.5rem;
    width: 25%;
    display: flex;
    justify-content: center;
}
.menus{
    display: flex;
    justify-content: center;
    width: 70%;
}
.menus .menu a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    opacity: 0.8;
    font-weight: lighter;
    margin-right: 3rem;
}
.menus .menu  :hover{
    color: #59AB6E;
    opacity: 1;
}
.header .icons{
    display: flex;
    justify-content:center;
    width: 25%;
}
.icons .icon{
    margin-right: 20px;
}

/* main */

/* home */
.home{
    height: auto;
    background-color: #E9EEF5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home .left-content{
    margin-left: 5rem;
    width: 40%;
}
.home .left-content h1{
    color:#59AB6E; 
    font-size: 3rem;
    font-weight: 900;
}
.home .left-content p{
    line-height: 1.5rem;
}
.home .right-img{
    width: 40%;
    margin-right:5rem ;
}
.home .right-img img{
    width: 100%;
    border: #59AB6E;
    /* box-shadow: 10px 10px; */
    /* position: absolute; */
}
@media(max-width:1000px){
    .home{
        flex-wrap:wrap;
    }
    .home .left-content, .home .right-img{
        width: 100%;
        margin: 0 5rem 0 5rem;
    }
}
@media(max-width:375px){
    .home{
        flex-wrap:wrap;
        width: 100%;
    }
    .home .left-content, .home .right-img{
        width: 100%;
        margin: 0 2.5rem 0;
    }
}

/* category */
.category{
    height: auto;
    position: relative;
    margin-bottom: 3rem;
}
.heading{
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 100px;
}
.heading h3{
    font-size: 2rem;
}
.products{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.product{
    text-align: center;
    margin-bottom: 2rem;
}
.product .img{
    background-color: #E9EEF5;
    /* border: 1px solid grey; */
    /* box-shadow: 10px 10px 5px grey; */
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    text-align: center;
}
.product .img img{
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
}
.product button{
    background-color: #59AB6E;
    border: none;
    font-size: 1rem;
    padding: 1rem 2rem;
    color: #fff;
}
.product button:hover{
    background-color: rgb(110, 190, 130);
}
@media(max-width:1100px){
    .products{
        flex-wrap: wrap;
        align-items: center;
        /* flex-shrink: 1; */
        width: 100%;
    }
}


/* featured product */
.fe-products{
    height: auto;
    background-color: #E9EEF5;
    padding: 3rem;
}
.products-fe{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.product-fe{
    /* padding: 1.5rem; */
    height: auto;
    width: 30%;
    background-color: #fff;
    margin-bottom: 2rem;
}
.product-fe .img img{
    height: 250px;
    width: 100%;
}
.content{
    padding: 1rem;
}

.content .review{
    margin-top:3rem;
    color: #565657;
}
@media(max-width:700px){
    .products-fe{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .product-fe{
        width: 80%;
    }
}
@media(max-width:600px){
    .products-fe{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .product-fe{
        width: 100%;
    }
}
@media(max-width:425px){
    .fe-products{
        padding: 0.5rem;
    }
}
/* footer */

/* upper */
.footer{
    background-color: #212934;
    padding: 2rem 2rem 2rem 2rem;
    /* position: relative; */
}
.upper{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    color: #DCDDD1;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgb(220, 221, 209,0.1) ;
}
.upper .left, .upper .middle, .upper .right{
    width: 30%;
}
.upper .left h3{
    color: #59AB6E;  
}
.upper .left h3, .upper .middle h3,.upper .right h3{
    font-size: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(220, 221, 209,0.1) ;
}
.upper .left p{
   line-height: 2rem;
}
.upper .middle a , .upper .right a{
    display: flex;
    color: #DCDDD1;
    text-decoration: none;
    line-height: 2rem;
}
.upper .middle a:hover , .upper .right a:hover{
    color: #59AB6E;
}

/* lower */
.lower{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 2rem 0;
}
.lower .icons{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
}
.lower .icons .icon{
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid rgb(220, 221, 209,0.1);
    border-radius: 50%;
    text-align: center;
    padding: 0.7rem;
    color: #DCDDD1;
}
.lower .icons i{
    font-size: 1.5rem;
}
.lower .icons .icon:hover{
    background-color: #DCDDD1;
    color: #212934;
}
.subscribe{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    margin-right: 4rem;
}
.inp-subscribe input{
    background-color: #212934;
    border: 1px solid rgb(220, 221, 209,0.1);
    font-size: 1rem;
    color: #DCDDD1;
    /* width: 60%; */
    padding: 0.5rem 1rem 0.5rem 1rem;
    /* flex-shrink: 1; */
    /* width: auto; */
}
.btn-subscribe button{
    background-color: #59AB6E;
    color:#fff;
    border: none;
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem ;
}
.btn-subscribe button:hover{
    background-color: rgb(110, 190, 130);
}

/* copyright */
.copyright{
    background-color: #1D242D;
    padding: 1rem 5rem;
    color: #DCDDD1;
}

.hamburger{
    display: none;
}
@media(max-width:1024px){
    .header .icons{
        display: none;
    }
}
@media(max-width:850px){
    .upper{
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-start;
    }
    .upper .left, .upper .middle, .upper .right{
        width: 100%;
        margin-bottom: 2rem;
    }
    .lower{
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .lower .icons{
        width: 100%;
        /* flex-wrap: wrap; */
        justify-content: flex-start;
    }
    .subscribe{
        width: 90%;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 1rem;
        margin-top: 1rem;
        flex-shrink: 1;
    }
    .menus{
        display: none;
    }
    .header{
        justify-content: space-between;
    }
    .hamburger{
        display: flex;
        font-size: 2rem;
        margin-right: 1.5rem;
    }
    .logo{
        margin-left: 1.5rem;
        justify-content: flex-start;
    }
}